<h1 class='edit-header'>Update Your ToDo Name</h1>

<div class='edit-border'>
    <%= render 'form', todo: @todo %>

    <div class="edit-links">
        <%= link_to 'Cancel', @todo %> |
        <%= link_to 'Home', todos_path %>
    </div>
</div>
